# --- CONFIGURACIÓN PARA DOCKER (Secreta) ---
MYSQL_ROOT_PASSWORD="root"
MYSQL_DATABASE="replay_next_db"
MYSQL_USER="root"

# La URL interna que usará Next.js DENTRO de Docker
DOCKER_DATABASE_URL="mysql://root:root@db:3306/replay_next_db"

# Tu secreto de Auth (completa con el secret que quieras)
AUTH_SECRET=""