# --- CONFIGURACIÓN PARA DOCKER (Secreta) ---
MYSQL_ROOT_PASSWORD=""
MYSQL_DATABASE=""
MYSQL_USER=""

# La URL interna que usará Next.js DENTRO de Docker
DOCKER_DATABASE_URL=""

# Tu secreto de Auth
AUTH_SECRET=""