@import "tailwindcss";
@config "../tailwind.config.ts";

@theme {
  
  /* Color Principal (Coral/Salmón) */
  --color-primary: #E96B56;
  --color-primary-hover: #ee8b7a;

  /* Colores Neutros */
  --color-dark: #444444;       /* Gris oscuro para textos y footer */
  --color-gray: #666666;       /* Gris medio */
  --color-gray-light: #DEDFE0; /* Gris muy claro (bordes) */
  
  /* Blancos */
  --color-white: #FFFFFF;
  --color-white-off: #F8F9FA;  /* Blanco roto para fondos */

  /* --- TIPOGRAFÍA --- */
  /* Conectamos la variable de Next.js con Tailwind */
  --font-roboto: var(--font-roboto);
}

/* Estilos base opcionales para resetear margenes */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-roboto), sans-serif;
}